@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.hint-underneath, .hint {
  display: block;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  margin: 0 0 5px 0;
  color: #6f777b;
  clear: both; }
  @media (max-width: 640px) {
    .hint-underneath, .hint {
      font-size: 16px;
      line-height: 1.25; } }

.hint-underneath {
  padding-top: 10px; }
