@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.checkbox-filter .head:after {
  content: "";
  display: block;
  clear: both; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.filter {
  margin-bottom: 30px;
  background-color: #dee0e2;
  padding: 0 5px; }
  .filter:focus {
    outline: 3px solid #ffbf47; }
  .filter .legend {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    display: -moz-inline-stack;
    display: inline-block;
    margin-right: 40px;
    font-weight: bold;
    padding-top: 10px; }
    @media (max-width: 640px) {
      .filter .legend {
        font-size: 16px;
        line-height: 1.25; } }

.radio-filter, .text-filter {
  padding: 0 10px; }
  .radio-filter label, .text-filter label {
    margin-right: 10px;
    display: -moz-inline-stack;
    display: inline-block; }

.radio-filter input {
  width: 14px; }

.checkbox-filter {
  padding-bottom: 5px;
  /* Only apply these styles to chrome/firefox/safari and ie8 upwards
     this is because checkbox filters are always open on ie6/7 so no
     need to have closed styles or toggles. */
  /* Redefine scrollbars so they are always visible in scrolling checkbox lists */ }
  .checkbox-filter:hover {
    background-color: #bfc1c3; }
  .js-enabled .checkbox-filter .head {
    cursor: pointer; }
  .js-enabled .checkbox-filter .toggle {
    height: 15px;
    width: 23px;
    display: -moz-inline-stack;
    display: inline-block;
    background-image: url("./toggle-sprite.png");
    background-repeat: no-repeat;
    background-position: 0 3px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20/10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      .js-enabled .checkbox-filter .toggle {
        background-image: url("./toggle-sprite-retina.png");
        background-size: 32px 50px; } }
  .js-enabled .checkbox-filter.closed .checkbox-container {
    position: absolute;
    left: -9999px;
    padding: 0;
    margin: 0; }
  .js-enabled .checkbox-filter.closed .toggle {
    background-position: 0 -33px; }
  .checkbox-filter ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px; }
  .checkbox-filter ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); }
  .checkbox-filter .head {
    padding: 0 5px;
    position: relative; }
    .checkbox-filter .head .controls {
      position: absolute;
      right: 5px;
      top: 10px; }
      .checkbox-filter .head .controls .clear-selected {
        display: -moz-inline-stack;
        display: inline-block;
        margin-right: 5px; }
        .checkbox-filter .head .controls .clear-selected.js-hidden {
          left: -9999em;
          position: relative;
          height: 0px;
          overflow: hidden; }
  .checkbox-filter .checkbox-container {
    position: relative;
    margin-top: 5px;
    background-color: #fff;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    /* IE6 doesn't support psuedo selectors so scoping to checkbox-container instead of using a psuedo selector */ }
    .checkbox-filter .checkbox-container ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .checkbox-filter .checkbox-container ul ul {
        padding-left: 20px; }
    .checkbox-filter .checkbox-container label {
      display: -moz-inline-stack;
      display: inline-block;
      padding: 7px 0 7px 30px;
      width: 90%;
      border-bottom: 1px solid #bfc1c3; }
      .checkbox-filter .checkbox-container label:hover {
        background-color: #f8f8f8; }
    .checkbox-filter .checkbox-container input {
      margin-left: -23px;
      vertical-align: top;
      position: absolute; }
