@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.pricing {
  margin-top: 15px; }
  @media (min-width: 900px) {
    .column-two-thirds .pricing {
      margin-right: -100%; }
 }
  .pricing .pricing-column {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    min-height: 105px;
    min-width: 2em;
    margin: 0 10px;
    vertical-align: bottom;
    /* IE7's font rendering meant some of the text was obscured with the default min-height */ }
    .column-two-thirds .pricing .pricing-column {
      min-height: 0;
      width: 100%;
      margin-left: 0;
      margin-top: 15px; }
      @media (min-width: 900px) {
        .column-two-thirds .pricing .pricing-column {
          min-height: 105px;
          width: auto;
          margin-left: 10px;
          margin-top: 0; } }
    .pricing .pricing-column:first-child {
      margin-left: 0; }
    .pricing .pricing-column label, .pricing .pricing-column .question-hint {
      font-family: "nta", Arial, sans-serif;
      font-size: 19px;
      line-height: 1.31579;
      font-weight: 400;
      text-transform: none; }
      @media (max-width: 640px) {
        .pricing .pricing-column label, .pricing .pricing-column .question-hint {
          font-size: 16px;
          line-height: 1.25; } }
    .pricing .pricing-column label {
      display: block;
      width: 8em; }
    .pricing .pricing-column .question-hint {
      margin: 0;
      color: #6f777b; }
  .pricing .pricing-input, .pricing .pricing-input-with-unit, .pricing .pricing-input-select {
    width: 100%;
    position: static;
    bottom: 0;
    left: 0;
    margin: 0;
    z-index: 10; }
    @media (min-width: 900px) {
      .pricing .pricing-input, .pricing .pricing-input-with-unit, .pricing .pricing-input-select {
        position: absolute; } }
  .pricing .pricing-input-with-unit {
    padding-left: 1.6em; }
  .pricing .pricing-input-select {
    margin: 0 0 15px 0;
    width: 98%;
    font-size: 19px; }
    @media (min-width: 900px) {
      .pricing .pricing-input-select {
        margin-left: 0; } }
  .pricing .pricing-unit {
    color: #bfc1c3;
    position: absolute;
    bottom: 12px;
    left: 10px;
    z-index: 20;
    font-weight: bold; }
  .pricing .pricing-preposition {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 12px;
    display: none; }
    @media (min-width: 900px) {
      .pricing .pricing-preposition {
        display: block; } }

.visually-hidden {
  position: absolute;
  left: -999em; }
