@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.question, .question-first {
  margin: 15px 0 30px 0;
  clear: both; }

.question-first {
  margin-top: 0; }

.question-heading, .question-heading-with-hint {
  display: block;
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  padding-top: 9px;
  padding-bottom: 6px;
  font-weight: bold;
  margin: 0 0 10px 0; }
  @media (max-width: 640px) {
    .question-heading, .question-heading-with-hint {
      font-size: 18px;
      line-height: 1.2; } }
  @media (min-width: 641px) {
    .question-heading, .question-heading-with-hint {
      padding-top: 6px;
      padding-bottom: 4px; } }

.question-heading-with-hint {
  margin-bottom: 0; }

.question-description {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  padding-top: 8px;
  padding-bottom: 7px;
  margin: 0 0 0 0;
  clear: left; }
  @media (max-width: 640px) {
    .question-description {
      font-size: 14px;
      line-height: 1.14286; } }
  @media (min-width: 641px) {
    .question-description {
      padding-top: 5px;
      padding-bottom: 5px; } }

.question-number {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
  display: inline;
  word-spacing: -0.1em;
  margin-right: 0.2em;
  float: left; }
  @media (max-width: 640px) {
    .question-number {
      font-size: 18px;
      line-height: 1.2; } }
  .question-number:after {
    content: "."; }
  @media (min-width: 1080px) {
    .question-number {
      float: none;
      position: relative;
      height: 50px;
      display: block;
      margin: 20px 0 -50px 0;
      left: -100px;
      width: 80px;
      text-align: right; }
      .validation-wrapper .question-number {
        left: -120px; }
      .question-number:after {
        content: ""; } }
