@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.summary-item-heading, .summary-item-heading-first {
  font-family: "nta", Arial, sans-serif;
  font-size: 27px;
  line-height: 1.11111;
  font-weight: 700;
  text-transform: none;
  position: relative;
  padding: 35px 25% 0 0;
  margin: 0 0 10px 0;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (max-width: 640px) {
    .summary-item-heading, .summary-item-heading-first {
      font-size: 20px;
      line-height: 1.11111; } }

.summary-item-heading-first {
  padding-top: 0; }

.summary-item-heading-number {
  position: absolute;
  width: 40px;
  left: -55px;
  text-align: right; }

.summary-item-field-heading-custom-first-narrow, .summary-item-field-heading-custom {
  font-weight: normal;
  text-align: left;
  vertical-align: text-top;
  padding-top: 12px; }

.summary-item-field-heading-custom-first-narrow {
  font-weight: normal;
  text-align: left;
  width: 25%; }

caption {
  text-align: left;
  margin-bottom: 12px;
  padding-top: 35px; }

.summary-item-description {
  margin: 0 0 4px 0; }

.summary-item-top-level-action {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  padding-top: 2px;
  padding-bottom: 8px;
  text-align: right;
  margin: -33px 0 0 0;
  padding-left: 75%;
  position: relative;
  z-index: 10;
  font-weight: bold; }
  @media (max-width: 640px) {
    .summary-item-top-level-action {
      font-size: 16px;
      line-height: 1.25; } }
  @media (min-width: 641px) {
    .summary-item-top-level-action {
      padding-top: 0;
      padding-bottom: 5px; } }

.summary-item-no-content {
  color: #6f777b;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  margin: 0 0 15px 0;
  border-top: 1px solid #bfc1c3;
  border-bottom: 1px solid #bfc1c3;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 100%; }
  @media (max-width: 640px) {
    .summary-item-no-content {
      font-size: 14px;
      line-height: 1.14286; } }

table.summary-item-body-no-bottom-border-text-large, table.summary-item-body-no-bottom-border-row-bold-borders-text-large, table.summary-item-body-no-bottom-border-row-bold-borders, table.summary-item-body-no-bottom-border, table.summary-item-body-row-bold-borders-text-large, table.summary-item-body-row-bold-borders, table.summary-item-body {
  width: 100%;
  margin: 0 0 15px 0;
  border-bottom: 1px solid #bfc1c3; }

table.summary-item-body-no-bottom-border-text-large, table.summary-item-body-no-bottom-border-row-bold-borders-text-large, table.summary-item-body-no-bottom-border-row-bold-borders, table.summary-item-body-no-bottom-border, table.summary-item-body-row-bold-borders-text-large, table.summary-item-body-row-bold-borders, table.summary-item-body {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  border-collapse: collapse;
  border-spacing: 0; }
  @media (max-width: 640px) {
    table.summary-item-body-no-bottom-border-text-large, table.summary-item-body-no-bottom-border-row-bold-borders-text-large, table.summary-item-body-no-bottom-border-row-bold-borders, table.summary-item-body-no-bottom-border, table.summary-item-body-row-bold-borders-text-large, table.summary-item-body-row-bold-borders, table.summary-item-body {
      font-size: 14px;
      line-height: 1.14286; } }
  table.summary-item-body-no-bottom-border-text-large tbody tr, table.summary-item-body-no-bottom-border-row-bold-borders-text-large tbody tr, table.summary-item-body-no-bottom-border-row-bold-borders tbody tr, table.summary-item-body-no-bottom-border tbody tr, table.summary-item-body-row-bold-borders-text-large tbody tr, table.summary-item-body-row-bold-borders tbody tr, table.summary-item-body tbody tr {
    text-align: right;
    border-top: 1px solid #bfc1c3; }
  table.summary-item-body-no-bottom-border-text-large tbody td, table.summary-item-body-no-bottom-border-row-bold-borders-text-large tbody td, table.summary-item-body-no-bottom-border-row-bold-borders tbody td, table.summary-item-body-no-bottom-border tbody td, table.summary-item-body-row-bold-borders-text-large tbody td, table.summary-item-body-row-bold-borders tbody td, table.summary-item-body tbody td {
    padding-top: 12px;
    padding-bottom: 9px;
    vertical-align: top; }

table.summary-item-body-no-bottom-border-text-large, table.summary-item-body-no-bottom-border-row-bold-borders-text-large, table.summary-item-body-no-bottom-border-row-bold-borders, table.summary-item-body-no-bottom-border {
  border-bottom: 0; }

table.summary-item-body-no-bottom-border-text-large {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  padding-top: 2px;
  padding-bottom: 8px; }
  @media (max-width: 640px) {
    table.summary-item-body-no-bottom-border-text-large {
      font-size: 16px;
      line-height: 1.25; } }
  @media (min-width: 641px) {
    table.summary-item-body-no-bottom-border-text-large {
      padding-top: 0;
      padding-bottom: 5px; } }

table.summary-item-body-no-bottom-border-row-bold-borders-text-large tbody tr, table.summary-item-body-no-bottom-border-row-bold-borders tbody tr {
  border-top: 1px solid #0b0c0c; }

table.summary-item-body-row-bold-borders-text-large tbody tr, table.summary-item-body-row-bold-borders tbody tr {
  border-top: 1px solid #0b0c0c; }

table.summary-item-body-row-bold-borders-text-large tbody tr {
  border-top: 1px solid #0b0c0c; }

table.summary-item-body-no-bottom-border-row-bold-borders-text-large {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  padding-top: 2px;
  padding-bottom: 8px; }
  @media (max-width: 640px) {
    table.summary-item-body-no-bottom-border-row-bold-borders-text-large {
      font-size: 16px;
      line-height: 1.25; } }
  @media (min-width: 641px) {
    table.summary-item-body-no-bottom-border-row-bold-borders-text-large {
      padding-top: 0;
      padding-bottom: 5px; } }
  table.summary-item-body-no-bottom-border-row-bold-borders-text-large tbody tr.summary-item-row-no-border {
    border-top: 0; }
    table.summary-item-body-no-bottom-border-row-bold-borders-text-large tbody tr.summary-item-row-no-border td {
      padding-top: 0; }
    table.summary-item-body-no-bottom-border-row-bold-borders-text-large tbody tr.summary-item-row-no-border .summary-item-field-border {
      padding-top: 12px; }

table.summary-item-body tbody .summary-item-field-first-narrow-no-padding, table.summary-item-body tbody .summary-item-field-no-padding, .summary-item-field-border, .summary-item-field-first, .summary-item-field-first-narrow, .summary-item-field-first-half, .summary-item-field-first-two-thirds, .summary-item-field-with-action, .summary-item-field {
  vertical-align: middle;
  text-align: left; }
  table.summary-item-body tbody .summary-item-field-first-narrow-no-padding ul, table.summary-item-body tbody .summary-item-field-no-padding ul, .summary-item-field-border ul, .summary-item-field-first ul, .summary-item-field-first-narrow ul, .summary-item-field-first-half ul, .summary-item-field-first-two-thirds ul, .summary-item-field-with-action ul, .summary-item-field ul {
    margin: 0;
    list-style-type: disc;
    padding: 0 0 0 20px; }
  table.summary-item-body tbody .summary-item-field-first-narrow-no-padding .multiquestion, table.summary-item-body tbody .summary-item-field-no-padding .multiquestion, .summary-item-field-border .multiquestion, .summary-item-field-first .multiquestion, .summary-item-field-first-narrow .multiquestion, .summary-item-field-first-half .multiquestion, .summary-item-field-first-two-thirds .multiquestion, .summary-item-field-with-action .multiquestion, .summary-item-field .multiquestion {
    padding-bottom: 10px; }
    table.summary-item-body tbody .summary-item-field-first-narrow-no-padding .multiquestion:last-child, table.summary-item-body tbody .summary-item-field-no-padding .multiquestion:last-child, .summary-item-field-border .multiquestion:last-child, .summary-item-field-first .multiquestion:last-child, .summary-item-field-first-narrow .multiquestion:last-child, .summary-item-field-first-half .multiquestion:last-child, .summary-item-field-first-two-thirds .multiquestion:last-child, .summary-item-field-with-action .multiquestion:last-child, .summary-item-field .multiquestion:last-child {
      padding-bottom: 0; }
    table.summary-item-body tbody .summary-item-field-first-narrow-no-padding .multiquestion > p:first-child, table.summary-item-body tbody .summary-item-field-no-padding .multiquestion > p:first-child, .summary-item-field-border .multiquestion > p:first-child, .summary-item-field-first .multiquestion > p:first-child, .summary-item-field-first-narrow .multiquestion > p:first-child, .summary-item-field-first-half .multiquestion > p:first-child, .summary-item-field-first-two-thirds .multiquestion > p:first-child, .summary-item-field-with-action .multiquestion > p:first-child, .summary-item-field .multiquestion > p:first-child {
      margin-top: 0;
      margin-bottom: 5px; }
  table.summary-item-body tbody .summary-item-field-first-narrow-no-padding a[rel~="external"]:after, table.summary-item-body tbody .summary-item-field-no-padding a[rel~="external"]:after, .summary-item-field-border a[rel~="external"]:after, .summary-item-field-first a[rel~="external"]:after, .summary-item-field-first-narrow a[rel~="external"]:after, .summary-item-field-first-half a[rel~="external"]:after, .summary-item-field-first-two-thirds a[rel~="external"]:after, .summary-item-field-with-action a[rel~="external"]:after, .summary-item-field a[rel~="external"]:after {
    background-image: url("./external-links/external-link.png");
    background-repeat: no-repeat; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20/10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      table.summary-item-body tbody .summary-item-field-first-narrow-no-padding a[rel~="external"]:after, table.summary-item-body tbody .summary-item-field-no-padding a[rel~="external"]:after, .summary-item-field-border a[rel~="external"]:after, .summary-item-field-first a[rel~="external"]:after, .summary-item-field-first-narrow a[rel~="external"]:after, .summary-item-field-first-half a[rel~="external"]:after, .summary-item-field-first-two-thirds a[rel~="external"]:after, .summary-item-field-with-action a[rel~="external"]:after, .summary-item-field a[rel~="external"]:after {
        background-image: url("./external-links/external-link-24x24.png");
        background-size: 12px 400px; } }
  table.summary-item-body tbody .summary-item-field-first-narrow-no-padding a[rel~="external"]:after, table.summary-item-body tbody .summary-item-field-no-padding a[rel~="external"]:after, .summary-item-field-border a[rel~="external"]:after, .summary-item-field-first a[rel~="external"]:after, .summary-item-field-first-narrow a[rel~="external"]:after, .summary-item-field-first-half a[rel~="external"]:after, .summary-item-field-first-two-thirds a[rel~="external"]:after, .summary-item-field-with-action a[rel~="external"]:after, .summary-item-field a[rel~="external"]:after {
    content: "\A0\A0\A0\A0\A0";
    background-position: right 3px; }
  table.summary-item-body tbody .summary-item-field-first-narrow-no-padding a[rel~="external"]:hover:after, table.summary-item-body tbody .summary-item-field-no-padding a[rel~="external"]:hover:after, .summary-item-field-border a[rel~="external"]:hover:after, .summary-item-field-first a[rel~="external"]:hover:after, .summary-item-field-first-narrow a[rel~="external"]:hover:after, .summary-item-field-first-half a[rel~="external"]:hover:after, .summary-item-field-first-two-thirds a[rel~="external"]:hover:after, .summary-item-field-with-action a[rel~="external"]:hover:after, .summary-item-field a[rel~="external"]:hover:after {
    background-position: right -385px; }

table.summary-item-body tbody .summary-item-field-first-narrow-no-padding, table.summary-item-body tbody .summary-item-field-no-padding {
  padding-bottom: 0; }

.summary-item-field-border {
  border-top: 1px solid #bfc1c3; }

.summary-item-text-large {
  text-align: left; }

.summary-item-field-first {
  width: 33.333%;
  padding-right: 12px; }

.summary-item-field-first-narrow {
  width: 20%; }

.summary-item-field-first-half {
  width: 50%;
  padding-right: 12px; }

.summary-item-field-first-two-thirds {
  width: 67%;
  padding-right: 12px; }

.summary-item-field-with-action {
  text-align: right; }

.summary-item-field-headings th {
  height: 0;
  padding: 0;
  border: none; }

.summary-item-field-headings-visible {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
  text-align: left;
  border-top: 1px solid #bfc1c3; }
  @media (max-width: 640px) {
    .summary-item-field-headings-visible {
      font-size: 14px;
      line-height: 1.14286; } }

.summary-item-field-heading-first, .summary-item-field-heading {
  padding: 10px 0 10px 0; }

a.summary-item-remove-link {
  color: #b10e1e; }
  a.summary-item-remove-link:hover {
    color: #df3034; }

.summary-item-row-incomplete .summary-item-field a {
  color: #cd4c0b; }
.summary-item-row-incomplete .summary-item-field-first span {
  display: block;
  padding-left: 10px;
  border-left: 3px solid #cd4c0b; }
