@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.summary-item-heading, .summary-item-heading-first {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
  position: relative;
  padding: 35px 25% 0 0;
  margin: 0 0 10px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (max-width: 640px) {
    .summary-item-heading, .summary-item-heading-first {
      font-size: 18px;
      line-height: 1.2; } }

.summary-item-heading-first {
  padding-top: 0; }

.summary-item-heading-number {
  position: absolute;
  width: 40px;
  left: -55px;
  text-align: right; }

.summary-item-top-level-action {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  padding-top: 2px;
  padding-bottom: 8px;
  text-align: right;
  margin: -36px 0 0 0;
  padding-left: 75%;
  position: relative;
  z-index: 10;
  font-weight: bold; }
  @media (max-width: 640px) {
    .summary-item-top-level-action {
      font-size: 16px;
      line-height: 1.25; } }
  @media (min-width: 641px) {
    .summary-item-top-level-action {
      padding-top: 0;
      padding-bottom: 5px; } }

.summary-item-no-content {
  color: #6f777b;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  margin: 0 0 15px 0;
  border-top: 1px solid #dee0e2;
  border-bottom: 1px solid #dee0e2;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 100%; }
  @media (max-width: 640px) {
    .summary-item-no-content {
      font-size: 14px;
      line-height: 1.14286; } }

table.summary-item-body {
  width: 100%;
  margin: 0 0 15px 0;
  border-bottom: 1px solid #dee0e2; }

.summary-item-row-incomplete, .summary-item-row {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  text-align: right;
  border-top: 1px solid #dee0e2; }
  @media (max-width: 640px) {
    .summary-item-row-incomplete, .summary-item-row {
      font-size: 16px;
      line-height: 1.25; } }

table.summary-item-body {
  border-collapse: collapse;
  border-spacing: 0; }
  table.summary-item-body tbody td {
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: top; }

.summary-item-field-first, .summary-item-field-first-wider, .summary-item-field-with-action, .summary-item-field {
  vertical-align: middle;
  text-align: left;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  padding-left: 25px; }
  @media (max-width: 640px) {
    .summary-item-field-first, .summary-item-field-first-wider, .summary-item-field-with-action, .summary-item-field {
      font-size: 14px;
      line-height: 1.14286; } }
  .summary-item-field-first ul, .summary-item-field-first-wider ul, .summary-item-field-with-action ul, .summary-item-field ul {
    margin: 0;
    list-style-type: disc;
    padding: 0 0 0 20px; }

.summary-item-field-first {
  width: 33.333%;
  padding-left: 0; }

.summary-item-field-first-wider {
  width: 50%;
  padding-left: 0; }

.summary-item-field-with-action {
  text-align: right; }

.summary-item-field-headings tr {
  position: absolute;
  left: -9999em; }

.summary-item-field-headings-visible {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
  text-align: left;
  border-top: 1px solid #dee0e2; }
  @media (max-width: 640px) {
    .summary-item-field-headings-visible {
      font-size: 14px;
      line-height: 1.14286; } }

.summary-item-field-heading {
  padding: 10px 0 10px 25px; }

.summary-item-field-heading-first {
  padding-left: 0; }

.summary-item-row-incomplete .summary-item-field {
  color: #cd4c0b; }
  .summary-item-row-incomplete .summary-item-field a {
    color: #cd4c0b; }
.summary-item-row-incomplete .summary-item-field-first span {
  padding-left: 10px;
  border-left: 3px solid #cd4c0b; }
