@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.summary-item-heading, .summary-item-heading-first {
  font-family: "nta", Arial, sans-serif;
  font-size: 27px;
  line-height: 1.11111;
  font-weight: 700;
  text-transform: none;
  position: relative;
  padding: 35px 25% 0 0;
  margin: 0 0 10px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (max-width: 640px) {
    .summary-item-heading, .summary-item-heading-first {
      font-size: 20px;
      line-height: 1.11111; } }

.summary-item-heading-first {
  padding-top: 0; }

.summary-item-heading-number {
  position: absolute;
  width: 40px;
  left: -55px;
  text-align: right; }

.summary-item-description {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  padding-top: 2px;
  padding-bottom: 8px;
  margin: 0 0 4px 0; }
  @media (max-width: 640px) {
    .summary-item-description {
      font-size: 16px;
      line-height: 1.25; } }
  @media (min-width: 641px) {
    .summary-item-description {
      padding-top: 0;
      padding-bottom: 5px; } }

.summary-item-top-level-action {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  padding-top: 2px;
  padding-bottom: 8px;
  text-align: right;
  margin: -33px 0 0 0;
  padding-left: 75%;
  position: relative;
  z-index: 10;
  font-weight: bold; }
  @media (max-width: 640px) {
    .summary-item-top-level-action {
      font-size: 16px;
      line-height: 1.25; } }
  @media (min-width: 641px) {
    .summary-item-top-level-action {
      padding-top: 0;
      padding-bottom: 5px; } }

.summary-item-no-content {
  color: #6f777b;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  margin: 0 0 15px 0;
  border-top: 1px solid #bfc1c3;
  border-bottom: 1px solid #bfc1c3;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 100%; }
  @media (max-width: 640px) {
    .summary-item-no-content {
      font-size: 14px;
      line-height: 1.14286; } }

table.summary-item-body {
  width: 100%;
  margin: 0 0 15px 0;
  border-bottom: 1px solid #bfc1c3; }

.summary-item-row-incomplete, .summary-item-row {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  text-align: right;
  border-top: 1px solid #bfc1c3; }
  @media (max-width: 640px) {
    .summary-item-row-incomplete, .summary-item-row {
      font-size: 16px;
      line-height: 1.25; } }

table.summary-item-body {
  border-collapse: collapse;
  border-spacing: 0; }
  table.summary-item-body tbody td {
    padding-top: 12px;
    padding-bottom: 9px;
    vertical-align: top; }

.summary-item-field-first, .summary-item-field-first-wider, .summary-item-field-with-action, .summary-item-field {
  vertical-align: middle;
  text-align: left;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  padding-left: 25px; }
  @media (max-width: 640px) {
    .summary-item-field-first, .summary-item-field-first-wider, .summary-item-field-with-action, .summary-item-field {
      font-size: 14px;
      line-height: 1.14286; } }
  .summary-item-field-first ul, .summary-item-field-first-wider ul, .summary-item-field-with-action ul, .summary-item-field ul {
    margin: 0;
    list-style-type: disc;
    padding: 0 0 0 20px; }
  .summary-item-field-first .multiquestion-answer, .summary-item-field-first-wider .multiquestion-answer, .summary-item-field-with-action .multiquestion-answer, .summary-item-field .multiquestion-answer {
    padding-bottom: 10px; }
    .summary-item-field-first .multiquestion-answer:last-child, .summary-item-field-first-wider .multiquestion-answer:last-child, .summary-item-field-with-action .multiquestion-answer:last-child, .summary-item-field .multiquestion-answer:last-child {
      padding-bottom: 0; }
  .summary-item-field-first a[rel~="external"]:after, .summary-item-field-first-wider a[rel~="external"]:after, .summary-item-field-with-action a[rel~="external"]:after, .summary-item-field a[rel~="external"]:after {
    background-image: url("./external-links/external-link.png");
    background-repeat: no-repeat; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20/10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      .summary-item-field-first a[rel~="external"]:after, .summary-item-field-first-wider a[rel~="external"]:after, .summary-item-field-with-action a[rel~="external"]:after, .summary-item-field a[rel~="external"]:after {
        background-image: url("./external-links/external-link-24x24.png");
        background-size: 12px 400px; } }
  .summary-item-field-first a[rel~="external"]:after, .summary-item-field-first-wider a[rel~="external"]:after, .summary-item-field-with-action a[rel~="external"]:after, .summary-item-field a[rel~="external"]:after {
    content: "\A0\A0\A0\A0\A0";
    background-position: right 3px; }
  .summary-item-field-first a[rel~="external"]:hover:after, .summary-item-field-first-wider a[rel~="external"]:hover:after, .summary-item-field-with-action a[rel~="external"]:hover:after, .summary-item-field a[rel~="external"]:hover:after {
    background-position: right -385px; }

.summary-item-field-first {
  width: 33.333%;
  padding-left: 0; }

.summary-item-field-first-wider {
  width: 50%;
  padding-left: 0; }

.summary-item-field-with-action {
  text-align: right; }

.summary-item-field-headings th {
  height: 0;
  padding: 0;
  border: none; }

.summary-item-field-headings-visible {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
  text-align: left;
  border-top: 1px solid #bfc1c3; }
  @media (max-width: 640px) {
    .summary-item-field-headings-visible {
      font-size: 14px;
      line-height: 1.14286; } }

.summary-item-field-heading-first, .summary-item-field-heading {
  padding: 10px 0 10px 25px; }

.summary-item-field-heading-first {
  padding-left: 0; }

a.summary-item-remove-link {
  color: #b10e1e; }
  a.summary-item-remove-link:hover {
    color: #df3034; }

.summary-item-row-incomplete .summary-item-field a {
  color: #cd4c0b; }
.summary-item-row-incomplete .summary-item-field-first span {
  display: block;
  padding-left: 10px;
  border-left: 3px solid #cd4c0b; }
