@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.text-box-with-error, .text-box-with-unit-before-with-error, .text-box-with-unit-before, .text-box-with-unit-after-with-error, .text-box-with-unit-after, .text-box {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 50px;
  margin: 0 0 15px 0;
  padding: 5px;
  border: 2px solid #6f777b;
  width: 100%;
  /* IE<8 cannot include borders and padding as part of width */ }
  @media (max-width: 640px) {
    .text-box-with-error, .text-box-with-unit-before-with-error, .text-box-with-unit-before, .text-box-with-unit-after-with-error, .text-box-with-unit-after, .text-box {
      font-size: 16px;
      line-height: 1.25; } }

.text-box-with-error, .text-box-large-with-error, .text-box-with-unit-before-with-error, .text-box-with-unit-after-with-error {
  border: 5px solid #b10e1e;
  margin-bottom: 0; }

.text-box-medium {
  height: 6.25em; }

.text-box-large-with-error, .text-box-large {
  height: 10.25em; }

.text-box-with-unit-before-with-error, .text-box-with-unit-before, .text-box-with-unit-after-with-error, .text-box-with-unit-after {
  display: -moz-inline-stack;
  display: inline-block;
  width: 7em; }

.text-box-with-unit-before-with-error, .text-box-with-unit-before {
  margin-left: -40px;
  padding-left: 30px; }

.text-box-with-unit-after-with-error, .text-box-with-unit-after {
  text-align: right;
  margin-right: -40px;
  padding-right: 30px; }

.text-box-unit {
  display: -moz-inline-stack;
  display: inline-block;
  color: #6f777b;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  font-weight: bold;
  width: 40px;
  position: relative;
  z-index: 10;
  pointer-events: none;
  text-align: center; }
  @media (max-width: 640px) {
    .text-box-unit {
      font-size: 16px;
      line-height: 1.25; } }

.text-box-unit-qualifier {
  position: absolute;
  left: -9999em; }
