@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.file-upload-existing-value {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  margin: 0; }
  @media (max-width: 640px) {
    .file-upload-existing-value {
      font-size: 16px;
      line-height: 1.25; } }

.file-upload-input {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  margin-top: 5px; }
  @media (max-width: 640px) {
    .file-upload-input {
      font-size: 16px;
      line-height: 1.25; } }
