@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.validation-wrapper:after {
  content: "";
  display: block;
  clear: both; }

.validation-masthead {
  border: 5px solid #b10e1e;
  padding: 15px 15px 20px 15px;
  margin-bottom: 30px; }
  .validation-masthead:focus {
    outline: 3px solid #ffbf47; }
  .validation-masthead .validation-masthead-heading {
    font-family: "nta", Arial, sans-serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    padding-top: 9px;
    padding-bottom: 6px;
    font-weight: bold;
    margin-bottom: 15px; }
    @media (max-width: 640px) {
      .validation-masthead .validation-masthead-heading {
        font-size: 18px;
        line-height: 1.2; } }
    @media (min-width: 641px) {
      .validation-masthead .validation-masthead-heading {
        padding-top: 6px;
        padding-bottom: 4px; } }
  .validation-masthead .validation-masthead-description {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    padding-top: 2px;
    padding-bottom: 8px;
    margin-bottom: 5px; }
    @media (max-width: 640px) {
      .validation-masthead .validation-masthead-description {
        font-size: 16px;
        line-height: 1.25; } }
    @media (min-width: 641px) {
      .validation-masthead .validation-masthead-description {
        padding-top: 0;
        padding-bottom: 5px; } }
  .validation-masthead .validation-masthead-link, .validation-masthead .validation-masthead-link:link, .validation-masthead .validation-masthead-link:visited {
    display: block;
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    font-weight: bold;
    color: #b10e1e; }
    @media (max-width: 640px) {
      .validation-masthead .validation-masthead-link, .validation-masthead .validation-masthead-link:link, .validation-masthead .validation-masthead-link:visited {
        font-size: 16px;
        line-height: 1.25; } }

.validation-wrapper {
  border-left: 5px solid #b10e1e;
  padding: 0 0 0 15px;
  margin: 15px 0 30px 0; }
  .validation-wrapper .question {
    margin: 0; }
  .validation-wrapper .question-heading, .validation-wrapper .question-heading-with-hint {
    padding-top: 0; }

.validation-message {
  display: -moz-inline-stack;
  display: inline-block;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  font-weight: bold;
  color: #b10e1e;
  margin: 5px 0 7px 0; }
  @media (max-width: 640px) {
    .validation-message {
      font-size: 16px;
      line-height: 1.25; } }
