@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.word-count {
  margin: 0 0 20px 0; }

.word-count-counter {
  text-align: right;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  line-height: 1;
  margin: 5px 0 0 0;
  padding: 0;
  color: #6f777b;
  width: 100%; }
  @media (max-width: 640px) {
    .word-count-counter {
      font-size: 16px;
      line-height: 1.25; } }
