@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.question, .question-first {
  zoom: 1; }
  .question:after, .question-first:after {
    content: "";
    display: block;
    clear: both; }

.text-box-with-error, .text-box-with-unit-before-with-error, .text-box-with-unit-before, .text-box-with-unit-after-with-error, .text-box-with-unit-after, .text-box {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 50px;
  margin: 0 0 15px 0;
  padding: 5px;
  border: 2px solid #6f777b;
  width: 100%;
  /* IE<8 cannot include borders and padding as part of width */
  width: 98%; }
  @media (max-width: 640px) {
    .text-box-with-error, .text-box-with-unit-before-with-error, .text-box-with-unit-before, .text-box-with-unit-after-with-error, .text-box-with-unit-after, .text-box {
      font-size: 16px;
      line-height: 1.25; } }

.text-box-with-error, .text-box-large-with-error, .text-box-with-unit-before-with-error, .text-box-with-unit-after-with-error {
  border: 5px solid #b10e1e;
  margin-bottom: 0; }

.text-box-medium {
  height: 6.25em; }

.text-box-large-with-error, .text-box-large {
  height: 10.25em; }

.text-box-with-unit-before-with-error, .text-box-with-unit-before, .text-box-with-unit-after-with-error, .text-box-with-unit-after {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
  width: 7em; }

.text-box-with-unit-before-with-error, .text-box-with-unit-before {
  margin-left: -40px;
  padding-left: 30px; }

.text-box-with-unit-after-with-error, .text-box-with-unit-after {
  text-align: right;
  margin-right: -40px;
  padding-right: 30px; }

.text-box-unit {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
  color: #6f777b;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  font-weight: bold;
  width: 40px;
  position: relative;
  z-index: 10;
  pointer-events: none;
  text-align: center; }
  @media (max-width: 640px) {
    .text-box-unit {
      font-size: 16px;
      line-height: 1.25; } }

.text-box-unit-qualifier {
  position: absolute;
  left: -9999em; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.selection-button {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  /* Specific to Digital Marketplace */
  display: block;
  float: none;
  clear: left;
  position: relative;
  background: #dee0e2;
  border: 1px solid #dee0e2;
  padding: 10px 15px 10px 45px;
  /* Specific to Digital Marketplace */
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  float: left;
  margin-top: 5px;
  margin-bottom: 5px; }
  @media (max-width: 640px) {
    .selection-button {
      font-size: 16px;
      line-height: 1.25; } }
  .selection-button input {
    position: absolute;
    top: 12px;
    left: 15px;
    cursor: pointer; }
  .selection-button:hover {
    border-color: #0b0c0c; }

.selection-button-boolean, .selection-button-inline {
  clear: none;
  margin-right: 15px; }

.js-enabled label.selection-button-selected {
  background: #fff;
  border-color: #0b0c0c; }

.js-enabled label.selection-button-focused {
  outline: 3px solid #ffbf47; }

.js-enabled .selection-button-focused input:focus {
  outline: none; }

.selection-button-with-description {
  margin-top: 15px; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.question, .question-first {
  margin: 15px 0 30px 0;
  clear: both; }

.question-first {
  margin-top: 0; }

.question-heading, .question-heading-with-hint {
  display: block;
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  padding-top: 9px;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-bottom: 4px;
  font-weight: bold;
  margin: 0 0 10px 0; }
  @media (max-width: 640px) {
    .question-heading, .question-heading-with-hint {
      font-size: 18px;
      line-height: 1.2; } }

.question-heading-with-hint {
  margin-bottom: 0; }

.question-description {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0 0 0 0;
  clear: left; }
  @media (max-width: 640px) {
    .question-description {
      font-size: 14px;
      line-height: 1.14286; } }

.question-number {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
  display: block;
  margin-bottom: -20px;
  position: relative;
  height: 50px;
  display: block;
  margin: 20px 0 -50px 0;
  left: -100px;
  width: 80px;
  text-align: right; }
  @media (max-width: 640px) {
    .question-number {
      font-size: 18px;
      line-height: 1.2; } }
  .question-number:after {
    content: "."; }
  .question-number:after {
    content: ""; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.hint-underneath, .hint {
  display: block;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  margin: 0 0 5px 0;
  color: #6f777b;
  clear: both; }
  @media (max-width: 640px) {
    .hint-underneath, .hint {
      font-size: 16px;
      line-height: 1.25; } }

.hint-underneath {
  padding-top: 10px; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.word-count {
  margin: 0 0 20px 0; }

.word-count-counter {
  text-align: right;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  line-height: 1;
  margin: 5px 0 0 0;
  padding: 0;
  color: #6f777b;
  width: 100%; }
  @media (max-width: 640px) {
    .word-count-counter {
      font-size: 16px;
      line-height: 1.25; } }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.question, .question-first {
  zoom: 1; }
  .question:after, .question-first:after {
    content: "";
    display: block;
    clear: both; }

.input-list .list-entry {
  vertical-align: middle;
  margin-bottom: 15px;
  position: relative;
  zoom: 1; }
.input-list .list-entry-remove {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  display: block;
  margin-bottom: 15px;
  margin-top: 5px;
  position: static;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
  margin: 0 0 0 0.6em;
  position: absolute;
  top: 6px;
  /* height of textbox minus its top-padding */
  left: 100%;
  margin-left: 0.6em;
  top: auto;
  left: 110%; }
  @media (max-width: 640px) {
    .input-list .list-entry-remove {
      font-size: 16px;
      line-height: 1.25; } }
.input-list .text-box {
  padding-left: 1.84em;
  width: 100%;
  margin-bottom: 0;
  width: 95%;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline; }
.input-list .text-box-number-label {
  float: left;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  width: 1.6em;
  margin: 13px -1.6em 0 0;
  position: relative;
  left: 10px;
  color: #6f777b;
  font-weight: bold;
  pointer-events: none; }
  @media (max-width: 640px) {
    .input-list .text-box-number-label {
      font-size: 16px;
      line-height: 1.25; } }
.input-list .list-entry-add {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  margin: 0 0 20px 0; }
  @media (max-width: 640px) {
    .input-list .list-entry-add {
      font-size: 16px;
      line-height: 1.25; } }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.summary-item-heading, .summary-item-heading-first {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
  position: relative;
  padding: 35px 25% 0 0;
  margin: 0 0 10px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (max-width: 640px) {
    .summary-item-heading, .summary-item-heading-first {
      font-size: 18px;
      line-height: 1.2; } }

.summary-item-heading-first {
  padding-top: 0; }

.summary-item-heading-number {
  position: absolute;
  width: 40px;
  left: -55px;
  text-align: right; }

.summary-item-top-level-action {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  padding-top: 2px;
  padding-bottom: 8px;
  padding-top: 0;
  padding-bottom: 5px;
  text-align: right;
  margin: -36px 0 0 0;
  padding-left: 75%;
  position: relative;
  z-index: 10;
  font-weight: bold; }
  @media (max-width: 640px) {
    .summary-item-top-level-action {
      font-size: 16px;
      line-height: 1.25; } }

.summary-item-no-content {
  color: #6f777b;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  margin: 0 0 15px 0;
  border-top: 1px solid #dee0e2;
  border-bottom: 1px solid #dee0e2;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 100%; }
  @media (max-width: 640px) {
    .summary-item-no-content {
      font-size: 14px;
      line-height: 1.14286; } }

table.summary-item-body {
  width: 100%;
  margin: 0 0 15px 0;
  border-bottom: 1px solid #dee0e2; }

.summary-item-row-incomplete, .summary-item-row {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  text-align: right;
  border-top: 1px solid #dee0e2; }
  @media (max-width: 640px) {
    .summary-item-row-incomplete, .summary-item-row {
      font-size: 16px;
      line-height: 1.25; } }

table.summary-item-body {
  border-collapse: collapse;
  border-spacing: 0; }
  table.summary-item-body tbody td {
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: top; }

.summary-item-field-first, .summary-item-field-first-wider, .summary-item-field-with-action, .summary-item-field {
  vertical-align: middle;
  text-align: left;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  padding-left: 25px; }
  @media (max-width: 640px) {
    .summary-item-field-first, .summary-item-field-first-wider, .summary-item-field-with-action, .summary-item-field {
      font-size: 14px;
      line-height: 1.14286; } }
  .summary-item-field-first ul, .summary-item-field-first-wider ul, .summary-item-field-with-action ul, .summary-item-field ul {
    margin: 0;
    list-style-type: disc;
    padding: 0 0 0 20px; }
  .summary-item-field-first .multiquestion-answer, .summary-item-field-first-wider .multiquestion-answer, .summary-item-field-with-action .multiquestion-answer, .summary-item-field .multiquestion-answer {
    padding-bottom: 10px; }
    .summary-item-field-first .multiquestion-answer:last-child, .summary-item-field-first-wider .multiquestion-answer:last-child, .summary-item-field-with-action .multiquestion-answer:last-child, .summary-item-field .multiquestion-answer:last-child {
      padding-bottom: 0; }

.summary-item-field-first {
  width: 33.333%;
  padding-left: 0; }

.summary-item-field-first-wider {
  width: 50%;
  padding-left: 0; }

.summary-item-field-with-action {
  text-align: right; }

.summary-item-field-headings th {
  height: 0;
  padding: 0;
  border: none; }

.summary-item-field-headings-visible {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
  text-align: left;
  border-top: 1px solid #dee0e2; }
  @media (max-width: 640px) {
    .summary-item-field-headings-visible {
      font-size: 14px;
      line-height: 1.14286; } }

.summary-item-field-heading-first, .summary-item-field-heading {
  padding: 10px 0 10px 25px; }

.summary-item-field-heading-first {
  padding-left: 0; }

a.summary-item-remove-link {
  color: #b10e1e; }
  a.summary-item-remove-link:hover {
    color: #df3034; }

.summary-item-row-incomplete .summary-item-field a {
  color: #cd4c0b; }
.summary-item-row-incomplete .summary-item-field-first span {
  display: block;
  padding-left: 10px;
  border-left: 3px solid #cd4c0b; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.question, .question-first {
  zoom: 1; }
  .question:after, .question-first:after {
    content: "";
    display: block;
    clear: both; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.govuk-option-select {
  background-color: #dee0e2;
  padding: 0 5px 5px 5px;
  /* Redefine scrollbars on desktop where these lists are scrollable
    so they are always visible in option lists */ }
  .govuk-option-select ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px; }
  .govuk-option-select ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); }
  .govuk-option-select:focus {
    outline: 3px solid #ffbf47; }
  .govuk-option-select .container-head {
    padding: 0 5px; }
  .govuk-option-select .option-select-label {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    margin-right: 40px;
    font-weight: bold;
    padding-top: 10px; }
    @media (max-width: 640px) {
      .govuk-option-select .option-select-label {
        font-size: 16px;
        line-height: 1.25; } }
  .govuk-option-select .options-container {
    position: relative;
    background-color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 5px;
    max-height: 200px; }
    .govuk-option-select .options-container label {
      display: -moz-inline-stack;
      display: inline-block;
      zoom: 1;
      display: inline;
      padding: 7px 0 7px 30px;
      border-bottom: 1px solid #bfc1c3;
      width: 100%;
      cursor: pointer;
      /* leave room for the scroll bars on desktop*/
      width: 90%; }
      .govuk-option-select .options-container label:hover {
        background-color: #f8f8f8; }
    .govuk-option-select .options-container input {
      margin-left: -23px;
      vertical-align: top;
      position: absolute; }
  .js-enabled .govuk-option-select {
    /* styles for collapsibleness. .js-collapsible is added by the javascript if the browser is not ie6/7 in which case these don't collapse */
    /* styles for clear link */ }
    .js-enabled .govuk-option-select.js-collapsible:hover {
      background-color: #bfc1c3;
      cursor: pointer; }
    .js-enabled .govuk-option-select.js-collapsible.js-closed .options-container {
      position: absolute;
      left: -9999px;
      padding: 0;
      margin: 0; }
    .js-enabled .govuk-option-select.js-collapsible.js-closed .js-toggle-indicator {
      background-position: 0 -33px; }
    .js-enabled .govuk-option-select.js-collapsible .js-toggle-indicator {
      display: -moz-inline-stack;
      display: inline-block;
      zoom: 1;
      display: inline;
      height: 15px;
      width: 23px;
      background-image: url('../../images/option-select-toggle-sprite.png');
      background-repeat: no-repeat;
      background-position: 0 3px;
      position: absolute;
      right: 3px;
      top: 10px; }
      @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20/10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        .js-enabled .govuk-option-select.js-collapsible .js-toggle-indicator {
          background-image: url('../../images/option-select-toggle-sprite-retina.png');
          background-size: 32px 50px; } }
    .js-enabled .govuk-option-select .js-container-head {
      position: relative; }
    .js-enabled .govuk-option-select .js-clear-selected {
      display: -moz-inline-stack;
      display: inline-block;
      zoom: 1;
      display: inline;
      position: absolute;
      right: 23px;
      top: 7px;
      cursor: pointer; }
      .js-enabled .govuk-option-select .js-clear-selected.js-hidden {
        left: -9999em;
        height: 0px;
        overflow: hidden; }

.govuk-option-select {
  margin-bottom: 30px; }
  .govuk-option-select .container-head .option-select-label {
    display: block; }
  .govuk-option-select .options-container {
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none; }
    @media (max-width: 640px) {
      .govuk-option-select .options-container {
        font-size: 14px;
        line-height: 1.14286; } }
