@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.browse-list {
  padding: 0; }

.browse-list-item {
  list-style: none;
  margin-bottom: 30px; }

.browse-list-item-link, a.browse-list-item-link {
  display: inline;
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  padding-top: 9px;
  padding-bottom: 6px;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid;
  position: relative;
  top: -12px; }
  @media (max-width: 640px) {
    .browse-list-item-link, a.browse-list-item-link {
      font-size: 18px;
      line-height: 1.2; } }
  @media (min-width: 641px) {
    .browse-list-item-link, a.browse-list-item-link {
      padding-top: 6px;
      padding-bottom: 4px; } }
  .browse-list-item-link span, a.browse-list-item-link span {
    position: relative;
    top: 12px; }
  .browse-list-item-link:visited, a.browse-list-item-link:visited {
    color: #4c2c92; }
  .browse-list-item-link:hover, a.browse-list-item-link:hover {
    color: #2e8aca; }
  .browse-list-item-link:active, .browse-list-item-link:focus, a.browse-list-item-link:active, a.browse-list-item-link:focus {
    outline: none;
    background: none; }
    .browse-list-item-link:active span, .browse-list-item-link:focus span, a.browse-list-item-link:active span, a.browse-list-item-link:focus span {
      background: #ffbf47;
      outline: 3px solid #ffbf47; }

.browse-list-item-body {
  margin: 5px 0 0 0;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .browse-list-item-body {
      font-size: 16px;
      line-height: 1.25; } }

.browse-list-item-subtext {
  margin: 0;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  padding-top: 8px;
  padding-bottom: 7px;
  color: #6f777b; }
  @media (max-width: 640px) {
    .browse-list-item-subtext {
      font-size: 14px;
      line-height: 1.14286; } }
  @media (min-width: 641px) {
    .browse-list-item-subtext {
      padding-top: 5px;
      padding-bottom: 5px; } }

.browse-list-item-status-quiet, .browse-list-item-status-default, .browse-list-item-status-happy, .browse-list-item-status-angry {
  border-left: 5px solid;
  padding-left: 15px;
  margin: 10px 0 0 0;
  padding-bottom: 0 0 10px 0;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 700;
  text-transform: none; }
  @media (max-width: 640px) {
    .browse-list-item-status-quiet, .browse-list-item-status-default, .browse-list-item-status-happy, .browse-list-item-status-angry {
      font-size: 16px;
      line-height: 1.25; } }
  .browse-list-item-status-quiet .browse-list-item-status-title, .browse-list-item-status-default .browse-list-item-status-title, .browse-list-item-status-happy .browse-list-item-status-title, .browse-list-item-status-angry .browse-list-item-status-title {
    margin: 0; }
  .browse-list-item-status-quiet .browse-list-item-status-hint, .browse-list-item-status-default .browse-list-item-status-hint, .browse-list-item-status-happy .browse-list-item-status-hint, .browse-list-item-status-angry .browse-list-item-status-hint {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    color: #6f777b;
    margin: 0; }
    @media (max-width: 640px) {
      .browse-list-item-status-quiet .browse-list-item-status-hint, .browse-list-item-status-default .browse-list-item-status-hint, .browse-list-item-status-happy .browse-list-item-status-hint, .browse-list-item-status-angry .browse-list-item-status-hint {
        font-size: 16px;
        line-height: 1.25; } }
  .browse-list-item-status-quiet .browse-list-item-status-list, .browse-list-item-status-default .browse-list-item-status-list, .browse-list-item-status-happy .browse-list-item-status-list, .browse-list-item-status-angry .browse-list-item-status-list {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    color: #6f777b;
    list-style: disc;
    padding: 5px 0 0 20px; }
    @media (max-width: 640px) {
      .browse-list-item-status-quiet .browse-list-item-status-list, .browse-list-item-status-default .browse-list-item-status-list, .browse-list-item-status-happy .browse-list-item-status-list, .browse-list-item-status-angry .browse-list-item-status-list {
        font-size: 16px;
        line-height: 1.25; } }

.browse-list-item-status-quiet {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  color: #6f777b;
  border-color: #bfc1c3; }
  @media (max-width: 640px) {
    .browse-list-item-status-quiet {
      font-size: 16px;
      line-height: 1.25; } }

.browse-list-item-status-default {
  color: #0b0c0c;
  border-color: #bfc1c3; }

.browse-list-item-status-happy {
  color: #00823b; }

.browse-list-item-status-angry {
  color: #b10e1e; }
