@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.contact-details-organisation {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-weight: bold;
  margin: 0 0 5px; }
  @media (max-width: 640px) {
    .contact-details-organisation {
      font-size: 14px;
      line-height: 1.14286; } }

.contact-details-block-without-spacing, .contact-details-block {
  margin: 0 0 5px; }
  .contact-details-block-without-spacing span, .contact-details-block span {
    display: block; }

.contact-details-block-without-spacing {
  margin: 0; }
