@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.notice:after {
  content: "";
  display: block;
  clear: both; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.list-bullet {
  list-style-type: disc;
  padding-left: 20px; }

.list-number, .instruction-list, .sublist {
  list-style-type: decimal;
  padding-left: 20px;
  margin-bottom: 20px; }

.list-bullet, .list-number, .instruction-list, .sublist {
  margin-top: 5px; }

.list-bullet li, .list-number li, .instruction-list li, .sublist li {
  margin-bottom: 5px; }

.instruction-list {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  font-weight: bold; }
  @media (max-width: 640px) {
    .instruction-list {
      font-size: 16px;
      line-height: 1.25; } }

.instruction-list h2 {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  font-weight: bold; }
  @media (max-width: 640px) {
    .instruction-list h2 {
      font-size: 16px;
      line-height: 1.25; } }

.instruction-list p {
  margin-bottom: 10px; }

.instruction-list .divider p {
  margin: 0; }

.divider {
  padding: 20px 0 15px 0;
  border-top: 1px solid #dee0e2; }

.instruction-list .divider:first-child {
  border-top: none; }

.instruction-list[start] .divider {
  border-top: 1px solid #dee0e2; }

.instruction-list .divider:last-child .question:last-child {
  margin: 15px 0 0 0; }

.sublist {
  font-weight: normal;
  margin-top: 10px; }

.instruction-list-item-body, .instruction-list-item-extra-information, .lead-in {
  font-weight: normal; }

.instruction-list .document-list {
  padding: 0; }

.notice {
  position: relative; }
  .notice .icon {
    width: 34px;
    height: 34px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -17px;
    background: url("./icon-important.png") no-repeat 0;
    background-size: 34px 34px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20/10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      .notice .icon {
        background: url("./icon-important-2x.png") no-repeat 0;
        background-size: 34px 34px; } }
  .notice strong {
    display: block;
    padding-left: 65px;
    margin-left: -15px; }
