@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.banner-destructive-without-action, .banner-destructive-with-action, .banner-warning-with-action, .banner-warning-without-action, .banner-success-with-action, .banner-success-without-action, .banner-temporary-message-without-action {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  padding: 20px;
  margin-top: 15px;
  border-width: 5px;
  border-style: solid; }
  @media (max-width: 640px) {
    .banner-destructive-without-action, .banner-destructive-with-action, .banner-warning-with-action, .banner-warning-without-action, .banner-success-with-action, .banner-success-without-action, .banner-temporary-message-without-action {
      font-size: 18px;
      line-height: 1.2; } }

.banner-destructive-without-action, .banner-destructive-with-action {
  color: #b10e1e; }

.banner-warning-with-action, .banner-warning-without-action {
  color: #cd4c0b; }

.banner-success-with-action, .banner-success-without-action {
  color: #00823b; }

.banner-action {
  margin-top: 10px;
  margin-bottom: 5px; }

.banner-message {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-weight: bold;
  margin: 0; }
  @media (max-width: 640px) {
    .banner-message {
      font-size: 18px;
      line-height: 1.2; } }

.banner-temporary-message-without-action {
  border: none;
  margin-bottom: 30px; }
  @media (min-width: 641px) {
    .banner-temporary-message-without-action {
      margin-bottom: 10px; } }
  .banner-temporary-message-without-action h2 {
    font-family: "nta", Arial, sans-serif;
    font-size: 36px;
    line-height: 1.11111;
    font-weight: 700;
    text-transform: none;
    margin-bottom: 15px; }
    @media (max-width: 640px) {
      .banner-temporary-message-without-action h2 {
        font-size: 24px;
        line-height: 1.04167; } }
    @media (min-width: 641px) {
      .banner-temporary-message-without-action h2 {
        margin-bottom: 20px; } }
  .banner-temporary-message-without-action .banner-message {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0; }
    @media (max-width: 640px) {
      .banner-temporary-message-without-action .banner-message {
        font-size: 16px;
        line-height: 1.25; } }
    @media (min-width: 641px) {
      .banner-temporary-message-without-action .banner-message {
        float: left;
        width: 66.66667%; } }
    @media (min-width: 641px) {
      .banner-temporary-message-without-action .banner-message {
        float: none; } }
