@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.temporary-message-without-messages, .temporary-message {
  background: #005ea5;
  color: #fff;
  padding: 15px 15px 18px 15px;
  margin-bottom: 30px; }

.temporary-message-without-messages {
  padding-bottom: 5px; }

.temporary-message-heading {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
  margin: 0 0 10px 0; }
  @media (max-width: 640px) {
    .temporary-message-heading {
      font-size: 18px;
      line-height: 1.2; } }

.temporary-message-message {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  margin: 0 0 5px 0; }
  @media (max-width: 640px) {
    .temporary-message-message {
      font-size: 14px;
      line-height: 1.14286; } }
  .temporary-message-message a {
    color: #fff;
    text-decoration: underline; }
