@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.temporary-message, .temporary-message-without-messages {
  margin-bottom: 30px; }

.temporary-message {
  margin-bottom: 30px; }

.temporary-message-main {
  background: #d5e8f3;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  color: #0b0c0c; }
  @media (max-width: 640px) {
    .temporary-message-main {
      font-size: 16px;
      line-height: 1.25; } }

.temporary-message-without-messages {
  padding-bottom: 5px; }

.temporary-message-heading {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
  margin: 0 0 10px 0; }
  @media (max-width: 640px) {
    .temporary-message-heading {
      font-size: 18px;
      line-height: 1.2; } }

.temporary-message-heading-main {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 700;
  text-transform: none;
  margin: 0 0 10px 0; }
  @media (max-width: 640px) {
    .temporary-message-heading-main {
      font-size: 16px;
      line-height: 1.25; } }

.temporary-message-message {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  margin: 0 0 5px 0; }
  @media (max-width: 640px) {
    .temporary-message-message {
      font-size: 14px;
      line-height: 1.14286; } }
  .temporary-message-message a {
    color: #fff;
    text-decoration: underline; }

.temporary-message-message-main {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  margin: 0 0 5px 0; }
  @media (max-width: 640px) {
    .temporary-message-message-main {
      font-size: 16px;
      line-height: 1.25; } }
  .temporary-message-message-main a {
    color: #0b0c0c;
    text-decoration: underline; }
