@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.grid-row:after {
  content: "";
  display: block;
  clear: both; }

.phase-banner, #wrapper {
  max-width: 960px;
  width: 960px;
  margin: 0 15px;
  margin: 0 30px;
  margin: 0 auto; }

.grid-row {
  margin-left: -15px;
  margin-right: -15px;
  margin-left: -30px;
  margin-right: -30px; }

.grid-row {
  margin: 0 -15px; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.grid-row .third-column {
  float: left;
  width: 33.33333%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.grid-row .two-third-column {
  float: left;
  width: 66.66667%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.grid-row .quarter-column {
  float: left;
  width: 25%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.grid-row .half-column {
  float: left;
  width: 50%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.grid-row .one-column {
  float: left;
  width: 100%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.grid-example {
  background: rgba(177, 14, 30, 0.1);
  box-shadow: inset -15px 0 0 0 rgba(177, 14, 30, 0.1), inset 15px 0 0 0 rgba(177, 14, 30, 0.1), inset 0 0 0 1px rgba(177, 14, 30, 0.3);
  min-height: 20vh; }
  .grid-example p {
    margin: 0;
    color: rgba(177, 14, 30, 0.3); }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.grid-row:after {
  content: "";
  display: block;
  clear: both; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.grid-row:after {
  content: "";
  display: block;
  clear: both; }

.phase-banner, #wrapper {
  max-width: 960px;
  width: 960px;
  margin: 0 15px;
  margin: 0 30px;
  margin: 0 auto; }

.grid-row {
  margin-left: -15px;
  margin-right: -15px;
  margin-left: -30px;
  margin-right: -30px; }

.grid-row {
  margin: 0 -15px; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.grid-row:after {
  content: "";
  display: block;
  clear: both; }

.phase-banner, #wrapper {
  max-width: 960px;
  width: 960px;
  margin: 0 15px;
  margin: 0 30px;
  margin: 0 auto; }

.grid-row {
  margin-left: -15px;
  margin-right: -15px;
  margin-left: -30px;
  margin-right: -30px; }

.grid-row {
  margin: 0 -15px; }

.phase-banner-beta {
  padding: 10px 0 8px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #bfc1c3; }
  .phase-banner-beta p {
    margin: 0;
    color: #000;
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none; }
    @media (max-width: 640px) {
      .phase-banner-beta p {
        font-size: 14px;
        line-height: 1.14286; } }
  .phase-banner-beta .phase-tag {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    vertical-align: baseline;
    margin: 0 8px 0 0;
    padding: 2px 5px 0;
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 700;
    text-transform: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background-color: #f47738; }
    @media (max-width: 640px) {
      .phase-banner-beta .phase-tag {
        font-size: 14px;
        line-height: 1.14286; } }
  .phase-banner-beta span {
    display: -moz-inline-stack;
    display: inline-block;
    width: 75%;
    vertical-align: top;
    width: auto;
    vertical-align: baseline; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/*
  The file-url helper requires the setting of a $path variable to the path of your app's static
  assets endpoint. For example:

  $path : '/assets/images/';
*/
#global-breadcrumb {
  background-color: #fff;
  max-width: 1020px;
  margin: 0 auto;
  z-index: 50; }
  #global-breadcrumb nav ol {
    max-width: 960px;
    margin: 0 15px;
    margin: 0 30px;
    padding: 0.75em 0; }
    #global-breadcrumb nav ol li {
      font-family: "nta", Arial, sans-serif;
      font-size: 16px;
      line-height: 1.25;
      font-weight: 400;
      text-transform: none;
      background: url('../images/breadcrumb-separator.png') 100% 50% no-repeat;
      float: left;
      list-style: none;
      margin-left: 0;
      margin-right: 0.5em;
      padding-right: 15px; }
      @media (max-width: 640px) {
        #global-breadcrumb nav ol li {
          font-size: 14px;
          line-height: 1.14286; } }
      #global-breadcrumb nav ol li:last-child {
        background-image: none;
        margin-right: 0; }
      #global-breadcrumb nav ol li a {
        color: #0b0c0c; }
        #global-breadcrumb nav ol li a:hover {
          color: #2e8aca; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.grid-row:after {
  content: "";
  display: block;
  clear: both; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.button-save {
  background-color: #00823b;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.3em 0.6em 0.2em 0.6em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #003518;
  -moz-box-shadow: 0 2px 0 #003518;
  box-shadow: 0 2px 0 #003518;
  border-bottom: 2px solid #003518;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #fff;
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  display: block;
  margin: 0 0 25px 0; }
  .button-save:visited {
    background-color: #00823b; }
  .button-save:hover, .button-save:focus {
    background-color: #00692f; }
  .button-save:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #00823b;
    -moz-box-shadow: 0 0 0 #00823b;
    box-shadow: 0 0 0 #00823b; }
  .button-save.disabled, .button-save[disabled="disabled"], .button-save[disabled] {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; }
    .button-save.disabled:hover, .button-save[disabled="disabled"]:hover, .button-save[disabled]:hover {
      cursor: default;
      background-color: #00823b; }
    .button-save.disabled:active, .button-save[disabled="disabled"]:active, .button-save[disabled]:active {
      top: 0;
      -webkit-box-shadow: 0 2px 0 #003518;
      -moz-box-shadow: 0 2px 0 #003518;
      box-shadow: 0 2px 0 #003518;
      border-bottom: 2px solid #003518; }
  .button-save:link, .button-save:hover, .button-save:focus, .button-save:visited {
    color: #fff; }
  .button-save:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0; }
  .button-save:active:before {
    top: -10%;
    height: 120%; }
  .button-save[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0; }
  .button-save[type="submit"], .button-save[type="reset"], .button-save[type="button"] {
    filter: chroma(color=#000000); }
  .button-save[type=submit].button {
    filter: none; }
  @media (max-width: 640px) {
    .button-save {
      font-size: 18px;
      line-height: 1.2; } }

.button-secondary {
  background-color: #dee0e2;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.3em 0.6em 0.2em 0.6em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
  border-bottom: 2px solid #b5babe;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #0b0c0c; }
  .button-secondary:visited {
    background-color: #dee0e2; }
  .button-secondary:hover, .button-secondary:focus {
    background-color: #d0d3d6; }
  .button-secondary:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #dee0e2;
    -moz-box-shadow: 0 0 0 #dee0e2;
    box-shadow: 0 0 0 #dee0e2; }
  .button-secondary.disabled, .button-secondary[disabled="disabled"], .button-secondary[disabled] {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; }
    .button-secondary.disabled:hover, .button-secondary[disabled="disabled"]:hover, .button-secondary[disabled]:hover {
      cursor: default;
      background-color: #dee0e2; }
    .button-secondary.disabled:active, .button-secondary[disabled="disabled"]:active, .button-secondary[disabled]:active {
      top: 0;
      -webkit-box-shadow: 0 2px 0 #b5babe;
      -moz-box-shadow: 0 2px 0 #b5babe;
      box-shadow: 0 2px 0 #b5babe;
      border-bottom: 2px solid #b5babe; }
  .button-secondary:link, .button-secondary:hover, .button-secondary:focus, .button-secondary:visited {
    color: #0b0c0c; }
  .button-secondary:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0; }
  .button-secondary:active:before {
    top: -10%;
    height: 120%; }
  .button-secondary[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0; }
  .button-secondary[type="submit"], .button-secondary[type="reset"], .button-secondary[type="button"] {
    filter: chroma(color=#000000); }
  .button-secondary[type=submit].button {
    filter: none; }

.button-destructive {
  background-color: #b10e1e;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.3em 0.6em 0.2em 0.6em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #6a0812;
  -moz-box-shadow: 0 2px 0 #6a0812;
  box-shadow: 0 2px 0 #6a0812;
  border-bottom: 2px solid #6a0812;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #fff; }
  .button-destructive:visited {
    background-color: #b10e1e; }
  .button-destructive:hover, .button-destructive:focus {
    background-color: #990c1a; }
  .button-destructive:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #b10e1e;
    -moz-box-shadow: 0 0 0 #b10e1e;
    box-shadow: 0 0 0 #b10e1e; }
  .button-destructive.disabled, .button-destructive[disabled="disabled"], .button-destructive[disabled] {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; }
    .button-destructive.disabled:hover, .button-destructive[disabled="disabled"]:hover, .button-destructive[disabled]:hover {
      cursor: default;
      background-color: #b10e1e; }
    .button-destructive.disabled:active, .button-destructive[disabled="disabled"]:active, .button-destructive[disabled]:active {
      top: 0;
      -webkit-box-shadow: 0 2px 0 #6a0812;
      -moz-box-shadow: 0 2px 0 #6a0812;
      box-shadow: 0 2px 0 #6a0812;
      border-bottom: 2px solid #6a0812; }
  .button-destructive:link, .button-destructive:hover, .button-destructive:focus, .button-destructive:visited {
    color: #fff; }
  .button-destructive:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0; }
  .button-destructive:active:before {
    top: -10%;
    height: 120%; }
  .button-destructive[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0; }
  .button-destructive[type="submit"], .button-destructive[type="reset"], .button-destructive[type="button"] {
    filter: chroma(color=#000000); }
  .button-destructive[type=submit].button {
    filter: none; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.grid-row:after {
  content: "";
  display: block;
  clear: both; }

.document-list {
  margin: 0;
  padding: 0 0 30px 0; }

.document-list-item {
  list-style: none; }

.document-link-with-icon, .document-link {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  margin: 5px 0;
  padding: 10px 0 10px 0;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  width: 100%;
  /* Trigger HasLayout on older IEs */ }
  @media (max-width: 640px) {
    .document-link-with-icon, .document-link {
      font-size: 16px;
      line-height: 1.25; } }

.document-link-with-icon {
  padding-left: 65px;
  padding-left: 55px; }

.document-icon {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
  border: 1px solid #bfc1c3;
  color: #6f777b;
  padding: 7px 13px 5px 5px;
  margin: -18px 10px 5px 0;
  display: block;
  position: absolute;
  top: 51%;
  left: 0;
  background: transparent;
  text-transform: lowercase;
  text-decoration: none;
  padding-right: 7px; }
  @media (max-width: 640px) {
    .document-icon {
      font-size: 14px;
      line-height: 1.14286; } }
  .document-icon:before {
    content: '.';
    /* Insert this with CSS so that it doesn't get read out */ }
  .document-icon span {
    /* Text for screen readers, visually hidden */
    position: absolute;
    top: 0;
    left: -999em; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.banner-destructive-without-action, .banner-destructive-with-action, .banner-warning-with-action, .banner-warning-without-action, .banner-success-with-action, .banner-success-without-action {
  background: #f8f8f8;
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  padding: 20px;
  margin-top: 15px; }
  @media (max-width: 640px) {
    .banner-destructive-without-action, .banner-destructive-with-action, .banner-warning-with-action, .banner-warning-without-action, .banner-success-with-action, .banner-success-without-action {
      font-size: 18px;
      line-height: 1.2; } }

.banner-destructive-without-action, .banner-destructive-with-action {
  border-left: 5px solid #b10e1e;
  color: #b10e1e; }

.banner-destructive-with-action {
  padding-bottom: 25px; }

.banner-warning-with-action, .banner-warning-without-action {
  border-left: 5px solid #cd4c0b;
  color: #cd4c0b; }

.banner-warning-without-action {
  padding-bottom: 25px; }

.banner-success-with-action, .banner-success-without-action {
  border-left: 5px solid #006435;
  color: #006435; }

.banner-success-without-action {
  padding-bottom: 25px; }

.banner-action {
  margin-top: 15px; }

.banner-message {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  margin: 0;
  padding: 0; }
  @media (max-width: 640px) {
    .banner-message {
      font-size: 18px;
      line-height: 1.2; } }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.page-heading, .page-heading-no-breadcrumb, .page-heading-smaller {
  margin: 15px 0;
  margin: 45px 0 45px; }
  .page-heading .context, .page-heading-no-breadcrumb .context, .page-heading-smaller .context {
    font-family: "nta", Arial, sans-serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    color: #6f777b;
    margin: 0; }
    @media (max-width: 640px) {
      .page-heading .context, .page-heading-no-breadcrumb .context, .page-heading-smaller .context {
        font-size: 18px;
        line-height: 1.2; } }
  .page-heading h1, .page-heading-no-breadcrumb h1, .page-heading-smaller h1 {
    font-family: "nta", Arial, sans-serif;
    font-size: 48px;
    line-height: 1.04167;
    font-weight: 700;
    text-transform: none; }
    @media (max-width: 640px) {
      .page-heading h1, .page-heading-no-breadcrumb h1, .page-heading-smaller h1 {
        font-size: 32px;
        line-height: 1.09375; } }

.page-heading-no-breadcrumb {
  margin-top: 55px;
  margin-top: 89px; }

.page-heading-smaller h1 {
  font-family: "nta", Arial, sans-serif;
  font-size: 36px;
  line-height: 1.11111;
  font-weight: 700;
  text-transform: none; }
  @media (max-width: 640px) {
    .page-heading-smaller h1 {
      font-size: 24px;
      line-height: 1.04167; } }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.grid-row:after {
  content: "";
  display: block;
  clear: both; }

.search-result {
  padding: 0 0 15px;
  margin: 0 0 15px;
  border-bottom: 1px solid #bfc1c3; }

.search-result-title {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 700;
  text-transform: none;
  margin: 0; }
  @media (max-width: 640px) {
    .search-result-title {
      font-size: 16px;
      line-height: 1.25; } }
  .search-result-title a {
    text-decoration: none; }

.search-result-supplier {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  margin: 5px 0 0 0; }
  @media (max-width: 640px) {
    .search-result-supplier {
      font-size: 14px;
      line-height: 1.14286; } }

.search-result-excerpt {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  margin: 5px 0 0 0; }
  @media (max-width: 640px) {
    .search-result-excerpt {
      font-size: 14px;
      line-height: 1.14286; } }

.search-result-highlighted-text {
  padding: 0 2px;
  display: -moz-inline-stack;
  display: inline-block;
  background-color: #fff2d3;
  background-image: url('../images/search-result-highlight-mask.png');
  background-position: 0 -8px;
  background-repeat: repeat; }

.search-result-metadata {
  margin: 0;
  padding: 0; }

.search-result-metadata-item {
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  margin: 5px 10px 0 0;
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .search-result-metadata-item {
      font-size: 12px;
      line-height: 1.25; } }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.browse-list {
  padding: 0; }

.browse-list-item {
  list-style: none;
  margin-bottom: 30px; }

.browse-list-item-link {
  display: block;
  font-family: "nta", Arial, sans-serif;
  font-size: 27px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-top: 4px;
  padding-bottom: 6px;
  font-weight: bold;
  text-decoration: none; }
  @media (max-width: 640px) {
    .browse-list-item-link {
      font-size: 20px;
      line-height: 1.11111; } }

.browse-list-item-body {
  margin: 0;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  padding-top: 2px;
  padding-bottom: 8px;
  padding-top: 0;
  padding-bottom: 5px; }
  @media (max-width: 640px) {
    .browse-list-item-body {
      font-size: 16px;
      line-height: 1.25; } }

.browse-list-item-subtext {
  margin: 0;
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  font-weight: 400;
  text-transform: none;
  color: #6f777b; }
  @media (max-width: 640px) {
    .browse-list-item-subtext {
      font-size: 12px;
      line-height: 1.25; } }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.hint {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  padding-top: 2px;
  padding-bottom: 8px;
  padding-top: 0;
  padding-bottom: 5px;
  margin: 0 0 5px 0;
  color: #6f777b; }
  @media (max-width: 640px) {
    .hint {
      font-size: 16px;
      line-height: 1.25; } }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.grid-row:after {
  content: "";
  display: block;
  clear: both; }

.input-list .list-entry {
  vertical-align: middle; }
.input-list .list-entry-remove {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  display: block;
  margin-bottom: 15px;
  display: -moz-inline-stack;
  display: inline-block;
  margin: 0 0 0 0.6em; }
  @media (max-width: 640px) {
    .input-list .list-entry-remove {
      font-size: 16px;
      line-height: 1.25; } }
.input-list .text-box {
  padding-left: 1.84em;
  width: 100%;
  width: 95%;
  display: -moz-inline-stack;
  display: inline-block;
  width: 66%; }
.input-list .text-box-number-label {
  float: left;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  width: 1.6em;
  margin: 13px -1.6em 0 0;
  position: relative;
  left: 10px;
  color: #bfc1c3;
  font-weight: bold;
  pointer-events: none; }
  @media (max-width: 640px) {
    .input-list .text-box-number-label {
      font-size: 16px;
      line-height: 1.25; } }
.input-list .list-entry-add {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  margin: 0 0 20px 0; }
  @media (max-width: 640px) {
    .input-list .list-entry-add {
      font-size: 16px;
      line-height: 1.25; } }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.grid-row:after {
  content: "";
  display: block;
  clear: both; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.govuk-option-select {
  background-color: #dee0e2;
  padding: 0 5px 5px 5px;
  /* Redefine scrollbars on desktop where these lists are scrollable
    so they are always visible in option lists */ }
  .govuk-option-select ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px; }
  .govuk-option-select ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); }
  .govuk-option-select:focus {
    outline: 3px solid #ffbf47; }
  .govuk-option-select .container-head {
    padding: 0 5px; }
  .govuk-option-select .option-select-label {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    margin-right: 40px;
    font-weight: bold;
    padding-top: 10px; }
    @media (max-width: 640px) {
      .govuk-option-select .option-select-label {
        font-size: 16px;
        line-height: 1.25; } }
  .govuk-option-select .options-container {
    position: relative;
    background-color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 5px;
    max-height: 200px; }
    .govuk-option-select .options-container label {
      display: -moz-inline-stack;
      display: inline-block;
      padding: 7px 0 7px 30px;
      border-bottom: 1px solid #bfc1c3;
      width: 100%;
      cursor: pointer;
      /* leave room for the scroll bars on desktop*/
      width: 90%; }
      .govuk-option-select .options-container label:hover {
        background-color: #f8f8f8; }
    .govuk-option-select .options-container input {
      margin-left: -23px;
      vertical-align: top;
      position: absolute; }
  .js-enabled .govuk-option-select {
    /* styles for collapsibleness. .js-collapsible is added by the javascript if the browser is not ie6/7 in which case these don't collapse */
    /* styles for clear link */ }
    .js-enabled .govuk-option-select.js-collapsible:hover {
      background-color: #bfc1c3;
      cursor: pointer; }
    .js-enabled .govuk-option-select.js-collapsible.js-closed .options-container {
      position: absolute;
      left: -9999px;
      padding: 0;
      margin: 0; }
    .js-enabled .govuk-option-select.js-collapsible.js-closed .js-toggle-indicator {
      background-position: 0 -33px; }
    .js-enabled .govuk-option-select.js-collapsible .js-toggle-indicator {
      display: -moz-inline-stack;
      display: inline-block;
      height: 15px;
      width: 23px;
      background-image: url('../images/option-select-toggle-sprite.png');
      background-repeat: no-repeat;
      background-position: 0 3px;
      position: absolute;
      right: 3px;
      top: 10px; }
      @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20/10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        .js-enabled .govuk-option-select.js-collapsible .js-toggle-indicator {
          background-image: url('../images/option-select-toggle-sprite-retina.png');
          background-size: 32px 50px; } }
    .js-enabled .govuk-option-select .js-container-head {
      position: relative; }
    .js-enabled .govuk-option-select .js-clear-selected {
      display: -moz-inline-stack;
      display: inline-block;
      position: absolute;
      right: 23px;
      top: 7px;
      cursor: pointer; }
      .js-enabled .govuk-option-select .js-clear-selected.js-hidden {
        left: -9999em;
        height: 0px;
        overflow: hidden; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.question, .question-first {
  margin: 15px 0 0 0;
  clear: both; }

.question-first {
  margin-top: 0; }

.question-heading, .question-heading-with-hint {
  display: block;
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  padding-top: 9px;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-bottom: 4px;
  font-weight: bold;
  margin: 0 0 10px 0; }
  @media (max-width: 640px) {
    .question-heading, .question-heading-with-hint {
      font-size: 18px;
      line-height: 1.2; } }

.question-heading-with-hint {
  margin-bottom: 0; }

.question-description {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  padding-top: 2px;
  padding-bottom: 8px;
  padding-top: 0;
  padding-bottom: 5px;
  margin: 0 0 10px 0;
  clear: left; }
  @media (max-width: 640px) {
    .question-description {
      font-size: 16px;
      line-height: 1.25; } }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.selection-button {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  /* Specific to Digital Marketplace */
  display: block;
  float: none;
  clear: left;
  position: relative;
  background: #dee0e2;
  border: 1px solid #dee0e2;
  padding: 10px 15px 10px 45px;
  /* Specific to Digital Marketplace */
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  float: left;
  margin-top: 5px;
  margin-bottom: 5px; }
  @media (max-width: 640px) {
    .selection-button {
      font-size: 16px;
      line-height: 1.25; } }
  .selection-button input {
    position: absolute;
    top: 12px;
    left: 15px;
    cursor: pointer; }
  .selection-button:hover {
    border-color: #0b0c0c; }

.selection-button-boolean {
  clear: none;
  margin-right: 15px; }

.js-enabled label.selection-button-selected {
  background: #fff;
  border-color: #0b0c0c; }

.js-enabled label.selection-button-focused {
  outline: 3px solid #ffbf47; }

.js-enabled .selection-button-focused input:focus {
  outline: none; }

.selection-button-with-description {
  margin-top: 15px; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.summary-item-heading, .summary-item-heading-first {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-weight: bold;
  position: relative;
  padding: 35px 25% 0 0;
  margin: 0 0 10px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (max-width: 640px) {
    .summary-item-heading, .summary-item-heading-first {
      font-size: 18px;
      line-height: 1.2; } }

.summary-item-heading-first {
  padding-top: 0; }

.summary-item-heading-number {
  position: absolute;
  width: 40px;
  left: -55px;
  text-align: right; }

.summary-item-top-level-action {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  padding-top: 2px;
  padding-bottom: 8px;
  padding-top: 0;
  padding-bottom: 5px;
  text-align: right;
  margin: -36px 0 0 0;
  padding-left: 75%;
  position: relative;
  z-index: 10; }
  @media (max-width: 640px) {
    .summary-item-top-level-action {
      font-size: 16px;
      line-height: 1.25; } }

p.summary-item-body, table.summary-item-body {
  width: 100%;
  margin: 0 0 15px 0;
  border-bottom: 1px solid #dee0e2; }

p.summary-item-body {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  border-top: 1px solid #dee0e2;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 100%; }
  @media (max-width: 640px) {
    p.summary-item-body {
      font-size: 16px;
      line-height: 1.25; } }

table.summary-item-body tbody .summary-item-row, .summary-item-row-incomplete {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  text-align: right;
  border-top: 1px solid #dee0e2; }
  @media (max-width: 640px) {
    table.summary-item-body tbody .summary-item-row, .summary-item-row-incomplete {
      font-size: 16px;
      line-height: 1.25; } }

table.summary-item-body {
  border-collapse: collapse;
  border-spacing: 0; }
  table.summary-item-body thead tr {
    position: absolute;
    left: -9999em; }
  table.summary-item-body tbody td {
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: top; }

.summary-item-field-name, .summary-item-field-content, .summary-item-field-action {
  vertical-align: middle;
  text-align: left; }

.summary-item-field-name {
  width: 50%;
  padding-right: 25px; }

.summary-item-field-headings tr {
  position: absolute;
  left: -9999em; }

.summary-item-field-content {
  width: 50%;
  padding-left: 25px; }
  .summary-item-field-content ul {
    margin: 0;
    list-style-type: disc;
    padding: 0 0 0 20px; }

.summary-item-field-action {
  padding-left: 20px; }

.summary-item-row-incomplete .summary-item-field-name span {
  padding-left: 10px;
  border-left: 3px solid #cd4c0b; }
.summary-item-row-incomplete .summary-item-field-content {
  color: #cd4c0b; }
  .summary-item-row-incomplete .summary-item-field-content a {
    color: #cd4c0b; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.grid-row:after {
  content: "";
  display: block;
  clear: both; }

.text-box {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 50px;
  margin: 0 0 15px 0;
  padding: 5px;
  border: 1px solid #bfc1c3;
  width: 66%; }
  @media (max-width: 640px) {
    .text-box {
      font-size: 16px;
      line-height: 1.25; } }

.text-box-medium {
  height: 6.25em; }

.text-box-large {
  height: 10.25em; }

.text-box-percentage {
  display: -moz-inline-stack;
  display: inline-block;
  width: 6em;
  text-align: right;
  padding-right: 5px; }

.text-box-percentage-label {
  display: -moz-inline-stack;
  display: inline-block;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .text-box-percentage-label {
      font-size: 16px;
      line-height: 1.25; } }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.validation-masthead {
  border: 3px solid #b10e1e;
  padding: 15px 20px 30px 20px;
  margin-bottom: 30px; }
  .validation-masthead .validation-masthead-heading {
    font-family: "nta", Arial, sans-serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    padding-top: 9px;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-bottom: 4px;
    font-weight: bold;
    margin-bottom: 15px; }
    @media (max-width: 640px) {
      .validation-masthead .validation-masthead-heading {
        font-size: 18px;
        line-height: 1.2; } }
  .validation-masthead .validation-masthead-link, .validation-masthead .validation-masthead-link:link, .validation-masthead .validation-masthead-link:visited {
    display: block;
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    color: #b10e1e; }
    @media (max-width: 640px) {
      .validation-masthead .validation-masthead-link, .validation-masthead .validation-masthead-link:link, .validation-masthead .validation-masthead-link:visited {
        font-size: 16px;
        line-height: 1.25; } }

.validation-wrapper {
  border-left: 3px solid #b10e1e;
  padding: 0 0 5px 20px;
  margin-bottom: 15px;
  overflow: hidden; }

.validation-message {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  padding-top: 2px;
  padding-bottom: 8px;
  padding-top: 0;
  padding-bottom: 5px;
  color: #b10e1e;
  margin-bottom: 5px; }
  @media (max-width: 640px) {
    .validation-message {
      font-size: 16px;
      line-height: 1.25; } }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.word-count {
  margin: 0 0 20px 0; }

.word-count-counter {
  text-align: right;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  line-height: 1;
  margin: 5px 0 0 0;
  padding: 0;
  color: #6f777b;
  width: 66%; }
  @media (max-width: 640px) {
    .word-count-counter {
      font-size: 16px;
      line-height: 1.25; } }

pre {
  box-shadow: inset 0 0 50px 0 rgba(50, 20, 0, 0.025);
  background: #fafafa;
  padding: 10px 10px 15px 15px;
  font-family: monospace;
  font-size: 17px;
  margin-bottom: 30px;
  color: #888;
  position: relative;
  overflow: scroll; }
  pre:hover {
    color: #111; }
  pre:before {
    content: "HTML";
    position: absolute;
    top: 10px;
    right: 15px;
    color: rgba(0, 0, 0, 0.15);
    letter-spacing: 3px; }

a.version-link:link {
  text-decoration: none; }
a.version-link:hover {
  text-decoration: underline; }

.index-list {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  padding: 0 0 60px 0; }
  @media (max-width: 640px) {
    .index-list {
      font-size: 16px;
      line-height: 1.25; } }
  .index-list li {
    margin-bottom: 5px;
    list-style: none; }
