@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.search-result {
  padding: 0 0 15px;
  margin: 0 0 15px;
  border-bottom: 1px solid #bfc1c3; }

.search-result-title {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 700;
  text-transform: none;
  margin: 0; }
  @media (max-width: 640px) {
    .search-result-title {
      font-size: 16px;
      line-height: 1.25; } }
  .search-result-title a {
    text-decoration: none; }

.search-result-supplier {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  margin: 5px 0 0 0; }
  @media (max-width: 640px) {
    .search-result-supplier {
      font-size: 14px;
      line-height: 1.14286; } }

.search-result-excerpt {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  margin: 5px 0 0 0; }
  @media (max-width: 640px) {
    .search-result-excerpt {
      font-size: 14px;
      line-height: 1.14286; } }

.search-result-highlighted-text {
  padding: 0 2px;
  display: -moz-inline-stack;
  display: inline-block;
  background-color: #fff2d3;
  background-image: url("./search-result-highlight-mask.png");
  background-position: 0 -8px;
  background-repeat: repeat; }

.search-result-metadata {
  margin: 0;
  padding: 0; }

.search-result-metadata-item {
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  margin: 5px 10px 0 0;
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .search-result-metadata-item {
      font-size: 12px;
      line-height: 1.25; } }
